---
---

body {
    max-width: 90%;
    margin: 0 auto;
    width: 500px;
}

main, nav {
    font-family: monospace;
}

// Index
.post-image {
    width: 100%;
}

.post-title {
    font-size: 1em;
    font-weight: bold;
}

// Navbar
nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
}

.nav-item-separator {
    margin: 0 0.5em;
}

// Pagination
.nav-item-separator:last-child {
    display: none;
}

.nav-back,
.nav-forward {
    display: inline-block;
    width: 45%;
}

.nav-back {
    text-align: right;
    margin-right: 1em;
}

.nav-forward {
    text-align: left;
}

.pagination {
    margin-top: 2em;
    text-align: center;
}
