---
---
$headColor: {{ site.data.theme.headerColor }};
$headColorHover: {{ site.data.theme.headerHoverColor }};


* {
    box-sizing: content-box;
}

body {
    line-height: 1.5em;
    font-size: 1.2em;
}

h1 {
    color: $headColor;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
}

h1 > a {
    color: $headColor;
    text-decoration: none;
    &:hover {
        color: $headColorHover;
    }
}