---
---
$headColor: {{ site.data.theme.headerColor }};
$headColorHover: {{ site.data.theme.headerHoverColor }};


* {
    box-sizing: content-box;
}

body {
    line-height: 1.5;
    font-size: 1.2em;
}

.title {
    color: $headColor;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
}

.title > a {
    color: $headColor;
    text-decoration: none;
    &:hover {
        color: $headColorHover;
    }
}

// Footer
footer {
    margin: 4em 0;
    font-family: monospace;
}