---
---

body {
    font-family: monospace;
    line-height: 1.5em;
    font-size: 1.2em;
    max-width: 90%;
    margin: 0 auto;
    width: 500px;
}

h1 {
    text-align: center;
    margin-top: 1em;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
}

.post-image {
    width: 100%;
}

.post-title {
    font-size: 1em;
    font-weight: bold;
}

.pagination {
    text-align: center;
}

