---
---

body {
    font-family: monospace;
    max-width: 90%;
    margin: 0 auto;
    width: 500px;
}

.avatar {
    float: right;
    width: 200px;
    max-width: 40%;
}

.images {
    clear: both;
}

.post-image {
    width: 100%;
    margin-top: 2em;
}

@media (max-width: 300px) {
    .avatar {
        float: none;
        max-width: 100%;
        width: 100%;
    }
}