---
---

body {
    font-family: monospace;
    max-width: 90%;
    margin: 0 auto;
    width: 500px;
}

main {
    margin-top: 5em;
}

.avatar {
    float: right;
    width: 200px;
    max-width: 40%;
    margin: 0 0 1em 1em;
}

.images {
    clear: both;
}

.post-image {
    width: 100%;
    margin-top: 2em;
}

// Footer
footer {
    margin: 4em 0;
}

@media (max-width: 300px) {
    .avatar {
        float: none;
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
}