<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0"> 

    <title>{{ site.title }}</title>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  </head>
  <body>
    <h1>{{ site.title }}</h1>
    {% include navigation.html %}
    <main>
      {{ content }}
    </main>
    <footer>
      &copy; to me
    </footer>
  </body>
</html>